@charset "utf-8";

$main_bcolor: #000011ec;
$main_gcolor: #A4D223;
$main_ocolor: #f2827f;
$eng_font : 'Kanit', sans-serif;
$ko_font : 'Nanum Gothic', sans-serif;

html,body{
    width: 100%;
    height: 100%;
    word-spacing: 3px;
    letter-spacing: -2px;
    font-family: $ko_font;
    scroll-behavior: smooth;
    position: relative;
    overflow-x:hidden;
    cursor: default;
}
//header부분
header{
    width: 100%;
    height: 12vh;
}
.logo_area{
    position: fixed;
    background-image: url("../image/logo/oliveyoung_bl.png");
    width: 20vw;
    height: 8vh;
    padding-top: 4vh;
    margin-left: 2vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200;
}
header{
    position: fixed;
    z-index: 300;
    background-color: rgba(252, 252,252, 0.9);
    nav{
        ul{
            letter-spacing: 0px;
            z-index: 300;
            position: fixed;
            margin-left: 50vw;
            margin-top: 3vh;
            width: 60vw;
            height: 6vh;
            font-family: $eng_font;
            li{
                display: inline-block;
                float: left;
                padding: 0.5vw;
                width: 14vw;
                height: 4vh;
                line-height: 5vh;
                font-size: 2vw;
                text-align: center;
            }
            li a{
                text-decoration: none;
                color: $main_bcolor;
            }
        }:nth-child(2){
            margin-left: 2vw;
        }
    }
}
//main
.main_sec{
    width: 100vw;
    height: 42vh;
    .popo_ment{
        z-index: 1000;
        color: $main_bcolor;
        position: absolute;
        font-size: 2.5vw;
        line-height: 3vw;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .mainp_area{
        video{
        width: 100vw;
        height: 42vh;
        }
    }
    
}
.sub_sec1, .sub_sec2, .sub_sec3{
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    .sub1_desc, .sub2_desc, .sub3_desc{
        width: 100vw;
        height: 10vh;
        text-align: left;
        padding: 1vw;
        font-size: 6vw;
        color: $main_gcolor;
        font-family: $eng_font;
        font-weight: 300;
        margin-left: 4vw;
        line-height: 6vw;
        margin-top: 2vw;

    }
    h3, p{
        width: 100vw;
        height: 5vh;
        font-size: 3vw;
        text-align: left;
        padding: 1vw;
        margin-left: 4vw;
        margin-top: 2vw;
    }
    h3{
        font-weight: 700;
    }
    p{
        width: 90vw;
        height: 15vh;
        font-weight: 400;
        line-height: 4.5vw;
        padding-top: 0;
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }
    p strong{
        font-weight: 700;
    }
}
.sub1_picarea{
    width: 100vw;
    height: 170vh;
    display: flex;
    flex-direction: column;
    .sub1_pic1{
        background-image: url("../image/mainpage/plag.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 90vw;
        height: 61vw;
        margin: 0 auto;    
    }
    .plag_s, .plag_t, .plag_st{
        position:absolute;
        text-align: center;
        width: 90vw;
        height: 55vw;
        font-size: 4vw;
        color: #fff;
        line-height: 55vw;
        background-color: rgba(0,0,0,0.6);
        display: none;
    }
    .sub1_pic2{
        background-image: url("../image/mainpage/town.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 90vw;
        height: 61vw;
        margin: 0 auto;
    }
    .sub1_pic3{
        background-image: url("../image/mainpage/just.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 90vw;
        height: 61vw;
        margin: 0 auto;
    }
}
.sub_sec2{
    height: 160vh;
    .sub2_picarea{
        width: 100vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
        .sub2_pic1{
            background-image: url("../image/mainpage/h&b_1.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 90vw;
            height: 75vw;
            margin: 0 auto;
        }
        .sub2_pic2{
            background-image: url("../image/mainpage/h&b_2.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 90vw;
            height: 75vw;
            margin: 0 auto;
        }
    }
}
.sub_sec3{
    .sub3_desc{
        height: 7vw;
    }
    p{
        height: 30vh;
    }
}
.sub3_picarea{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .sub3_pic1{
        background-image: url("../image/CJ/smart_store.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 90vw;
        height: 67vw;
        margin: 0 auto;
    }
    .sub3_pic2{
        background-image: url("../image/CJ/channel_view3.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 90vw;
        height: 70vw;
        margin: 0 auto;
    }
}
.last_sec{
    width: 100vw;
    height: 104vh;
    background-color: #F5F5F5;
    .last_head{
        font-size: 4vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
        text-align: center;
        color: $main_bcolor;
    }
}
.last_wsec{
    width: 100vw;
    height: 90vh;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.interview_1, .interview_2, .interview_3, .interview_4{
    background-image: url("../image/mainpage/interview_1.jpg");
    width: 41vw;
    height: 40vh;
    margin: 2vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    h1{
        top: 6%;
        position: absolute;
        font-size: 3vw;
        color: #fff;
        margin-top: 1vw;
        margin-left: 4vw;
    }
    p{
        position: absolute;
        top: 70%;
        font-size: 3vw;
        color: #fff;
        padding-left: 2vw;        
    }
    .o_1{
        width: 41vw;
        height: 40vh;
        background-color: rgba(0,0,0,0.4);
        
    }
}
.interview_2{
    background-position: 0% 50%;
    background-image: url("../image/mainpage/interview_2.jpg");
}
.interview_3{
    background-image: url("../image/mainpage/interview_3.jpg");
}
.interview_4{
    background-image: url("../image/mainpage/interview_4.jpg");
}
.o_1:hover{
    background:linear-gradient($main_gcolor, $main_ocolor );
}
//menu1
.story_start{
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    height: 25vh;
    background-color: $main_gcolor;
    h1{
        font-size: 8vw;
        line-height:  17vh;
        color:$main_bcolor;
        font-family: $eng_font;
    }
    p{
        font-size: 3vw;
        font-weight: 400;
        color: #647644;
    }
}
.story_part1{
    width: 100vw;
    height:  140vh;
    text-align: center;
    .part1_wrap{
        width: 75vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .s_vision, .s_mission, .s_slogan{
            margin-top: 6vh;
            width: 75vw;
            height: 35vh;
            .vision_circle, .mission_circle, .slogan_circle{
                width: 18vw;
                height: 18vw;
                margin: 0 auto;
                margin-bottom: 1vh;
                padding: 2vw;
                background-color: #A2C767;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                .vision_innercircle, .mission_innercircle, .slogan_innercircle{
                    width: 18vw;
                    height: 18vw;
                    font-family: $eng_font;
                    color: $main_bcolor;
                    font-size: 4vw;
                    line-height: 18vw;
                    background-color: #Fff;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            p{
                font-size: 2vw;
                line-height: 3vh;
                color: $main_bcolor;
                font-weight: 700;
            }
        }
        .s_mission{
            height: 40vh;
        }
    }
}
.story_part2{
    position: relative;
    width: 100vw;
    height: 60vh;
    background-image: url("../image/first_page/fly_olive2.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-family: $eng_font;
        color: #fcfcfc;
        font-size: 2.5vw;
        text-align: right;
        padding-top: 4vh;
        text-align: right;
        padding-right: 4vw;
    }
    p{
        color: #fcfcfc;
        font-size: 1.5vw;
        line-height: 2.5vw;
        text-align: right;
        padding-right: 4vw;
        padding-top: 2vh;
    }
    .fly_olive{
        position:absolute;
        left: 35vw;
        top: 14vh;
        div{
            display: inline-block;
            float:left;
            font-family: 'Black Han Sans', sans-serif;
            color:rgb(252, 252,252);
            font-size: 5vw;
        }
    }:nth-child(2){
        margin-top: -1vh;
    }:nth-child(3){
        margin-top: -1.4vh;
        margin-right: 1vw;
    }:nth-child(4){
        margin-top: -4vw;
    }:nth-child(5){
        margin-top: -5.5vw;
    }:nth-child(6){
        margin-top: -7vw;
        margin-left: 4.3vw;
    }
}
.story_part3{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    .part3_area, .part3_bidesc{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 58vh;
        justify-content: center;
        h1 {
            font-size: 4vw;
            margin-top: 6vw;
            text-align: center;
            font-weight: 700;
        }
        .part3_logo{
            background-image: url("../image/logo/oliveyoung_bl.png");
            width: 60vw;
            height: 8vh;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 4vw auto;
        }
        .part3_palette{
            margin-top:0;
            width: 100vw;
            height: 15vh;
            // margin-top: 10vw;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            .part3_colorg, .part3_colorc, .part3_colorb{
                width: 15vw;
                height: 15vw;
                display: flex;
                flex-direction: column;
                .part3_color1, .part3_color2, .part3_color3{
                    margin:0 auto;
                    width: 9vw;
                    height: 9vw;
                    text-align: center;
                    background-color: $main_gcolor;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                .part3_color2{
                    background-color: $main_ocolor;
                }
                .part3_color3{
                    background-color: $main_bcolor;
                }
                .color1_desc, .color2_desc, .color3_desc{
                    width: 16vw;
                    margin-left: -0.5vw;
                    height: 0vh;
                    text-align: center;
                    font-size: 2vw;
                    PADDING-TOP: 2VH;
                    margin-top: 1vh;
                    line-height: 3vw;
                }
            }
        }
        .bidesc_1, .bidesc_2, .bidesc_3{
            height: 16.666vh;
            h1, p{
                margin-top: 0;
                padding-left: 10vw;
                text-align: left;
                width: 100vw;
            }
            h1{
                font-family: $eng_font;
                color: $main_gcolor;
            }
            p{
                font-size: 2.5vw;
                padding-top: 1vh;
                line-height: 3.5vh;
            }
        }
    }
}
//menu2
.history_wrap{
    font-family: $ko_font;
    width: 100vw;
    height: 585vh;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}
.history_main{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/CJ/oliveyoung_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    .history_logo{
        margin-top: 35vh;
        margin-left: 40vw;
        width: 20vw;
        height: 10vh;
        background-size: contain;
        background-image: url("../image/logo/oliveyoung_bl.png");
        background-repeat: no-repeat;
    }
    h1{
        color: $main_bcolor;
        font-size: 4vh;
        text-align: center;
        margin-top: -2vh;
        line-height: 7vh;
        font-weight: 600;
    }
}
.h_2019{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/CJ/today_dream.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .green_line{
        width: 60vw;
        height: 40vh;
        background-color: rgba(164, 210, 36, 1);
        h3{
            margin-left: 2vw;
            margin-top: 45vh;
            font-size: 2.7vw;
            line-height: 5.5vh;
            font-weight: 800;
            padding-top: 3vh;
            color: $main_bcolor;
        }
        p{
            margin-left: 2vw;
            color: #101010;
            font-size: 2vw;
            line-height: 4vh;
            margin-top: 3vh;
            font-weight: 400;
        }
    }
}
.h_2016{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-image: url("../image/CJ/volunteer.jpg");
    h3{
        font-size: 3vh;
        font-weight: 800;
        text-align:right;
        margin-top: 70vh;
        margin-right: 3vw;
    }
    p{
        font-size: 1.9vh;
        margin-top: 5vh;
        text-align: right;
        margin-right: 3vw;
        line-height: 3vh;
        font-weight: 400;
    }
}
.h_2012{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../image/CJ/shopping_pic.jpg");
    .header_2012{
        margin-left: 44vw;
        margin-top: 60vh;
        width: 58vw;
        height: 20vh;
        background-color: #f2827f;
        h3{
            font-size: 3vh;
            color: #fff;
            padding: 3vh;
            font-weight: 600;
        }
        p{
            padding-left: 3vh;
            font-size: 2vh;
            line-height: 4vh;
            color: #fff;
        }
    }
}
.h_2007{
    width: 100vw;
    height: 85vh;
    background-color: rgb(232,242,218);
    display: inline-flex;
    flex-direction: row-reverse;
    .h_2007pic{
        background-image: url("../image/CJ/2002_olive.jpg");
        width: 40vw;
        height: 40vh;
        margin-top: 24vh;
        margin-right: 5vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .wrap_2007{
        width: 60vw;
        height: 85vh;
    }
    .header_2007{
        font-size: 5vw;
        color:  rgb(189, 197, 177);
        text-align: left;
        font-weight: 400;
        margin-top: 20vh;
        margin-left: 9vw;
    }
    .fifth_wrap{
        display: inline-flex;
        flex-direction: row;
        margin-top: 10vh;
        .fifth_first{
            margin-left: 4vw;
            width: 24vw;
            display: flex;
            flex-direction: column;
            h1{
                height: 8vh;
                text-align: left;
                font-size: 5vw;
                color: $main_gcolor;
                font-weight: 600;
                padding-left:0;
            }
            h3{
                height: 5vh;
                font-size: 2.7vw;
                color: $main_bcolor;
                font-weight: 600;
            }
            p{
                height: 20vh;
                font-size: 2vw;
                color: $main_bcolor;
                font-weight: 400;
                line-height: 3vw;
            }
        }
        .fifth_second{
            width: 40vw;
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            h1{
                height: 8vh;
                text-align: left;
                font-size: 5vw;
                color: $main_gcolor;
                font-weight: 600;
                padding-left:0;
            }
            h3{
                height: 5vh;
                font-size: 2.7vw;
                color: $main_bcolor;
                font-weight: 600;
            }
            p{
                height: 20vh;
                font-size: 2vw;
                color: $main_bcolor;
                font-weight: 400;
                line-height: 3vw;
            }
        }
    }
}
.h_1999{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/CJ/olive_history.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .last_p{
        align-self: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: 74vw;
        height: 21vh;
        padding: 3vh;
            h3 {
                padding: 1vw;
                font-size: 3vh;
                color: #A4D223;
                font-weight: 800;
                padding-top: 2vh;
            }
            p{
                font-size: 2vh;
                padding: 1.3vw;
                padding-top: 3vh;
                line-height: 5vh;
                color: #fcfcfc;
            }
    }
}
//menu3시작
.recruit_start{
    width: 100vw;
    height: 30vh;
    div{
        width: 100vw;
        height: 20vh;
        margin-top: 15vh;
        font-size: 5vh;
        text-align: center;
        line-height: 20vh;
        font-weight: 600;
    }
}
.recruit_process{
    background-color: #f4f4f4;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    .process_1, .process_2{
        width: 100vw;
        height: 30vh;
        h1{
            font-size: 3vw;
            margin-left: 13vw;
            margin-bottom: 5vh;
            padding-top: 5vh;

        }
        .one_wrap, .two_wrap{
            width: 100vw;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            article{
                width: 18vw;
                div{
                    font-weight: 600;
                    text-align: center;
                    padding: 1.6vh;
                    font-size: 3vw;
                }
                .step_stage{
                    font-size: 3vw;
                    color:rgba(164, 210, 36, 1);
                }
            }
            .enter_here{
                width: 12vh;
                height: 12vh;
                margin-left: -1vw;
                line-height: 6vh;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: #f2827f;
                .enter_olive{
                    text-align: center;
                    font-size: 3vw;
                    color: #fff;
                    padding: 3vh;
                    font-weight: 700;
                }
            }
        }
    }
}
.go_page{
    width: 100vw;
    height: 20vh;
    padding: 6.5vh 0;
    div{
        width: 23vw;
        height: 7vh;
        background-color: #f2827f;
        font-size: 2.3vw;
        line-height: 7vh;
        text-align: center;
        border-radius: 1.5vh;
        margin: 0 auto;
        color: #fff;
    }
    div a{
        color: #fff;
        text-decoration: none;
    }
}
.want_face{
    width: 100vw;
    height: 160vh;
    .want_pic{
        width: 100vw;
        height: 40vh;
        background-image: url("../image/first_page/fly_olive.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        width: 100vw;
        height: 10vh;
        font-size: 5vh;
        text-align: center;
        line-height: 15vh;
        font-weight: 600;
    }
    .want_sub{
        width: 100vw;
        height: 50vh;
        margin-top: 10vh;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        // align-items: center;
            .circle_1, .circle_2, .circle_3, .circle_4{
                width: 50vw;
                height: 50vh;
                .inner_circle1, .inner_circle2, .inner_circle3, .inner_circle4{
                    width: 20vw;
                    margin: 0 auto;
                    height: 20vw;
                    background-color: $main_gcolor;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    figure{
                        margin: 0 auto;
                        width: 20vw;
                        height: 20vw;
                        padding-top: 1.5vw;
                        .inner1_pic, .inner2_pic, .inner3_pic, .inner4_pic{
                            margin: 0 auto;
                            width: 9vw;
                            height: 9vw;
                            margin-top: 2vh;
                            background-image: url("../image/last_page/honesty.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .inner2_pic{
                            background-image: url("../image/last_page/respect.png");
                        }
                        .inner3_pic{
                            background-image: url("../image/last_page/lightbulb.png");
                        }
                        .inner4_pic{
                            background-image: url("../image/last_page/creativity.png");
                        }
                        .inner1_desc, .inner2_desc, .inner3_desc, .inner4_desc{
                            margin: 2vh auto;
                            font-size: 2.5vw;
                            text-align: center;
                            width: 5vw;
                            height: 2vh;
                            line-height: 2vh;
                            font-weight: 700;
                        }
                    }
                }
                .inner_circle2, .inner_circle4{
                    background-color: $main_ocolor;
                }
                figcaption{
                    font-size: 2vw;
                    text-align: center;
                    line-height: 3vh;
                    margin-top: 5vh;
                }
            }
    }
}

//footer영역
footer{
    display: inline-flex;
    width: 100vw;
    height: 25vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .footer_logo{
        background-image: url("../image/logo/oliveyoung_bl.png");
        margin-left: 24vw;
        width: 30vw;
        height: 10vh;
        background-size:contain;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 10vh;
    }
    p {
    margin-left: 2vw;
    font-size: 1.8vw;
    line-height: 2.5vh;
    vertical-align: center;
    }
    p a{
        text-decoration: none;
        color: $main_bcolor;
    }
}