@charset "utf-8";
$main_bcolor: #010116ec;
$main_gcolor: #A4D223;
$main_ocolor: #f2827f;
$ko_font : 'Nanum Gothic', sans-serif;

html, body{
    background-color: #f4f4f4;
    width: 100vw;
    word-spacing: 3px;
    letter-spacing: -2px;
    font-family: $ko_font;
    scroll-behavior: smooth;
    position: relative;
    overflow-x:hidden;
    cursor: default;
    font-family: $ko_font;
}
.header_sec{
    position: relative;
    width: 100vw;
    height: 15vh;
    display: inline-flex;
    flex-direction: row;
    .logo_sec{
        width: 20vw;
        height: 10vh;
        margin-top: 2vw;
        margin-left: 2vw;
        background-image:url("../image/logo/oliveyoung_bl.png");
        background-size:contain;
        background-repeat: no-repeat;
    }
}
.recruit_sec{
    background-color: #fff;
    width: 70vw;
    height: 200vh;
    margin: 0 auto;
    margin-bottom: 15vh;
    border: 0.1vw solid $main_bcolor;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    h1{
        color: $main_bcolor;
        font-size: 2.5vw;
        font-weight: 800;
        text-align: center;
        margin-top: 3vw;
    }
}
.default_info{
    width: 70vw;
    height: 50vh;
    .default_head{
        font-size: 1.4vw;
        font-weight: 400;
        text-align: left;
        padding: 1vw;
        margin-left: 5vw;
    }
    hr{
        width: 60vw;
        margin: 0 auto;
    }
    form{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .input_sec{
            width: 28vw;
            height: 5vw;
            div{
                text-align: left;
                height: 5vw;
                width: 7vw;
                margin-top: 3vw;
                font-size : 1vw;
                display: inline-block;
                float:left;
                text-align: center;
            }
            input{
                font-size: 0.8vw;
                margin: 1vw;
                width: 15vw;
                height: 2vw;
                display: inline-block;
                float: left;
                margin-top: 2.3vw;
            }
            input[type="date"]{
                font-family: $ko_font;
                color: #757575;
            }
        }
    }
    .self_intro{
    text-align: center;
    margin-top: 3vw;
    width: 70vw;
    height: 13vw;
        div{
            padding-left: 5vw;
            text-align: left;
            font-size: 1vw;
        }
        textarea{
            width: 60vw;
            margin-top: 1vw;
        }
    }
}
.second_sec{
    height: 110vh;
}
.submit_sec{
    width: 70vw;
    height: 6vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        div{
            margin-left: 1.5vw;
            text-align: center;
            float:left;
            width: 12vw;
            height: 3vw;
            font-size: 1vw;
            line-height: 3vw;
            background-color: #A4D223;
            border: none;
            font-family: $ko_font;
        }
        div:hover{
            cursor: pointer;
        }
        a{
            color: $main_bcolor;
        }
}
.submit_alert{
    position: absolute;
    width: 40vw;
    height: 20vh;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    border: 1px solid $main_bcolor;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: none;
    p{
        text-align: center;
        margin-top: 1vw;
        line-height: 4vh;
        font-size: 1.2vw;
        width: 40vw;
        height: 10vh;
    }
    .confirm_btn, .cancel_btn{
        display: inline-block;
        float:left;
        font-size: 1vw;
        text-align: center;
        width: 10vw;
        line-height: 5vh;
        height: 5vh;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
}
    .confirm_btn{
        margin: 0;
        margin-left: 9vw; 
        background-color: $main_gcolor;
    }
    .cancel_btn{
        margin: 0;
        margin-left: 3vw;
        background-color: $main_ocolor;
    }
    .confirm_btn:hover, .cancel_btn:hover{
        cursor: pointer;
    }
}