* {
  margin: 0px;
  padding: 0px;
}

.jjangBox {
  width: 1200px;
  height: 90px;
}

.pageBox {
  width: 400px;
  height: 30px;
  margin-left: 500px;
  position: relative;
  margin-top: -30px;
}

.page1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page1:hover {
  background-color: #f59797;
}

.page1:active {
  background-color: #f4004d;
}

.page2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page2:hover {
  background-color: #f59797;
}

.page2:active {
  background-color: #f4004d;
}

.page3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page3:hover {
  background-color: #f59797;
}

.page3:active {
  background-color: #f4004d;
}

.page4 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page4:hover {
  background-color: #f59797;
}

.page4:active {
  background-color: #f4004d;
}

.page5 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page5:hover {
  background-color: #f59797;
}

.page5:active {
  background-color: #f4004d;
}

.page6 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page6:hover {
  background-color: #f59797;
}

.page6:active {
  background-color: #f4004d;
}

.page7 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page7:hover {
  background-color: #f59797;
}

.page7:active {
  background-color: #f4004d;
}

.page8 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px;
  background-color: #dcdcdc;
  float: left;
  margin: 5px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.page8:hover {
  background-color: #f59797;
}

.page8:active {
  background-color: #f4004d;
}

.scBox {
  background-color: #f4004d;
}

.scBox:hover {
  background-color: #f4004d;
}

.scBox:active {
  background-color: #f4004d;
}

.bottomBar {
  width: 1200px;
  height: 80px;
  float: left;
  margin-top: 10px;
}

.bottomhome {
  font-size: 15px;
}

a:link {
  color: #333333;
}

a:visited {
  color: #333333;
}

a {
  text-decoration: none;
}

.bottomText {
  font-size: 12px;
}

.textR {
  font-size: 12px;
  text-align: right;
  float: right;
}
/*# sourceMappingURL=bottomBar.css.map */