*{ margin: 0; padding: 0;}
.bbigBox{
    width:1200px;
    height:730px;
    background-color: #fef4b0;;
}
.bImg {
	width:1200px;
	height:730px;
	position: absolute;
	left:1px;
}
.backB2 {
  width: 1200px;
  height: 730px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  left:0px;
  top: 280px; 
}
.bsubBox{
    width:1100px;
    height:700px;
    margin-left: 50px;
}
.ssub1{
    width:500px;
    height:280px;
    //background-color: violet;
    float: left;
    margin-top: 20px;
    margin-left: 2.5px;
    position:absolute;
}
.ssub2{
    width:500px;
    height:280px;
    //background-color: violet;
    float: left;
    margin-top: 20px;
    margin-left: 598px;
    position:absolute;
}
.ssub3{
    width:1095px;
    height:315px;
    //background-color: violet;
    float: left;
    margin-top: 345px;
    margin-left: 2.5px;
    position:absolute;
}
.tbo1{
    width: 50px;
    height: 20px;
    font-size:22px;
}
.tbo2{
    width: 50px;
    height: 20px;
    font-size: 22px;
}
.tbo3{
    width: 50px;
    height: 20px;
    font-size: 22px;
}
.map1{
    width: 500px;
    height: 240px;
    background-color: skyblue;
    margin-top: 10px;
}
.map2{
    width: 500px;
    height: 240px;
    background-color: skyblue;
    margin-top: 10px;
}
.map3{
    width: 1095px;
    height: 275px;
    background-color: skyblue;
    margin-top: 10px;
    margin-left: 2.5px;
}
