// 자주묻는질문.scss

* { margin: 0px; padding: 0px; }

.contentSection {
	height: auto;
	background: {
		color:#fbf6b1;
		size: 100% ; 
		position: 50% 100%;
		repeat: no-repeat; 
		image: url("../image/background_transparent.png");
	}
}
.opacityPaper {
	width: 100%; height: 918px;
	position: absolute;
	background-color: white;
	opacity: 0.6;
}
.faqBox {
	margin-top: 200px;
	margin-bottom: 200px;
}
.faqImgSet {
	position: absolute;
	left: 500px;
	top: 100px;
}
.faqImg1 { 
	width: 183px; height: 183px;
	position: absolute;
	top: 280px;
}
.faqImg2 { 
	width: 73px; height: 73px;
	position: absolute;
	top: 280px;
	left: 140px;
}
.faqImg3 { 
	width: 183px; height: 183px;
	position: absolute;
	top: 290px;
	left: 148px;
	transform: rotate(-10deg);
}
.faqTable{
	position: relative;
	width: 800px;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
	margin: auto;
	background-color: silver;
	color: #444444;
	font-size: 17px;

}

.faqTable table {
	width: 100%; height: 100%;
	border-collapse: collapse; 
}
.faqTable table th {
	height: 30px;
	padding: 15px;
	background-color: #eaeaea;
	border-bottom: 1px solid black;
}
.faqTable table td{
	height: 55px;
	padding: 10px;
	border-top: 1px solid black;
	text-align: center;
	background-color: #ffb24d;
}
.faqTable table .middleLiner{
	border-left: 1px solid black;
}
.faqTable table .trFirst {
	width: 100px;
}
.faqTable table .trSecond { 
	width: auto;
}
.faqTable table .cellQ {
	font-weight: bold;
}
.faqTable table .cellA {
	background-color: #eaeaea;
}
