.contentSection {
	width: 1200px;
	height: 1150px;
	background: {
		image: url("../image/background_transparent.png");
		size: initial;
		position: 50% 100%;
		repeat: no-repeat;
		color: #fbf6b1;
	}
	position: relative; // wrapBox 를 위에 씌우기 위해서 선언
	.pageTitleBox .prevBtnBox .prevTitle {
		width: 70px;
	}
	.contentWrapBox {
		width: 1200px;
		height: 1150px;
		background-color: white;
		position: absolute;
		top:0;
		left:0;
		opacity: 0.6;
	}
	.ticketBox {
		width: 1200px;
		height: 229px;
		border-bottom: 1px solid lightgray;
		position: relative;
		z-index: 100;
		.ticketImage {
			width: 530px;
			height: 200px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background:{
				image:url("../image/ticketimage2.png");
				size: auto;
				position: 50% 50%;
				repeat: no-repeat;
			}
			.buyText{
				font-size: 50px;
				font-weight: bold;
				letter-spacing: 4px;
				position: absolute;
				top: 60px;
				left: 86px;
				color: white;
				font-family:Arial,sans-serif;
			}
			.ticketText {
				font-size: 23px;
				position: absolute;
				top: 120px;
				left: 90px;
				color: white;
				font-family:Arial,sans-serif;
				b{
					letter-spacing: 2px;
					font-size: 25px;
				}
			}
		}
	}
	.admissionFeeGraphBox {
		width: 1200px;
		height: 700px;
		position: relative;
		z-index: 100;
		.admissionFeeGraphTitle {
			width: 100%;
			height: 60px;
			text-align: center;
			color: #2f2f2f;
			font-size: 40px;
			position: absolute;
			left: 50%;
			top: 7%;
			transform: translate(-50%,-50%);
		}
		.admissionFeeGraphTableBox{
				width: 798px;
				height: 498px;
				border: 1px solid black;
				border-radius: 20px;
				overflow: hidden;
				position: absolute;
				z-index: 1000;
				top: 55%;
				left: 50%;
				transform: translate(-50%,-50%);
			.admissionFeeGraphTable {
				width: 100%;
				height: 100%;
				border-collapse: collapse;
				td{
					border: 1px solid #2f2f2f;
					text-align: center;
					padding: 10px;
					font-size: 16px;
				}
				.categoryTitle {
					font-weight: bold;
					font-size: 18px;
					color: #333333;
				}
				th {
					border: 1px solid #2f2f2f;
					font-size: 18px;
					padding: 12px;
					background-color: lightgray;
					color: #333333;
				}
				.leftNone {
					border-left: 0px;
				}
				.topNone {
					border-top: 0px;
				}
				.rightNone {
					border-right: 0px;
				}
				.bottomNone {
					border-bottom: 0px;
				}
				.tableBox {
					width: 800px;
					height: 500px;
					border: 1px solid black;
					border-radius: 20px;
					overflow: hidden;
				}
				td{
					background-color: rgb(118, 180, 224);
				}
				//#70a1ff;
				//#1b9cfc;
				//#45aaf2;
			}
		}
	}
	.tableImageBox {
		width: 150px;
		height: 150px;
		position:absolute;
		top: 60px;
		right: 130px;
		z-index: 50;
		background:{
			image: url('../image/muppy.png');
			size: cover;
			position: 50% 50%;
			repeat: no-repeat;
		}
		transform: rotate(15deg);
	}
}
