* { margin: 0; padding: 0;}
.menuBox {
	display: none;
	width: 1200px;
	height: 800px;
	background-color: rgb(251,246,177);
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 152%;
	z-index: 10000;
	transform: translateX(-50%);
	margin-right: -100%;
	.menuTopSection,.menuBottomSection {
		width: 1200px;
		height: 400px;
	}
	.menuBtnBox {
		display: inline-block;
		width: 200px;
		height: 200px;
		margin: 100px 50px;
	}
	.menuIconBox {
		width: 198px;
		height: 128px;
		position: relative;
		border: 1px solid rgb(160, 112, 76);
		border-radius: 5px;
		.menuIcon {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
		.menuLink {
			display: inline-block;
			width: 200px;
			height: 40px;
			margin-top: 30px;
			line-height: 38px;
			text-align: center;
			text-decoration: none;
			color: white;
			font-weight: bold;
			background-color: rgb(52,152,219);
			border-radius: 5px;
			box-shadow: 2px 2px 10px black;
		}
	
	.menuBarExit {
                display: block;
                color: black;
				width: 50px;
                height: 50px;
                font-size: 50px;
                background-color: transparent;
                cursor: pointer;
                position: fixed;
                top: 50px;
                right: 3.5%;
                transform: translate(50%,-50%);
                z-index: 9999;
        }
        .menuBarExit:hover{
                color: red;
        }
}
