.contentSection {
	width: 1200px;
	height: 1051px;
	display:inline-block;
	position:relative;
	background:{
		color: rgb(251, 246, 177);
		image: url("../image/background_transparent.png");
		size: initial;
		position: 50% 100%;
		repeat: no-repeat;
	}
	.contentWrapBox {
		width: 1200px;
		height: 1051px;
		position: absolute;
		top:0;
		left:0;
		background-color: white;
		opacity: 0.6;
	}
	.mudMeaningSection {
		position: relative;
		width: 1200px;
		height: 199px;
		border-bottom: 1px solid lightgray;
		z-index:100;
		.mudMeaningBox {
			width: 801px;
			height: 151px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			.mudImageBox {
				display: inline-block;
				width: 200px;
				height: 150px;
				float: left;
				margin-right: 10px;
				background:{
					image:url('../image/whatismud1.jpg');
					size: cover;
					position: 100% 100%;
					repeat: no-repeat;
				}	
			}
			.mudMeaningDescBox {
				display: inline-block;
				width: 568px;
				color: #2f2f2f;
				height: 128px;
				border: 1px solid rgb(240, 147, 43);
				padding: 10px;
				float: left;
				line-height: 1.8;
				strong{
					font-size: 20px;
					color: rgb(224,0,77);
				}
			}
		}
	}
	@mixin mudBackground {
		background:{
			size: cover;
			position: 50% 50%;
			repeat: no-repeat;
		}
		position:relative;
		z-index: 100;
	}
	.mudEfficacySection {
              width: 1200px;
              height: 700px;
              position:relative;
	      .efficacyTitle{
	      		font-size: 40px;
			color: #2f2f2f;
		      	position: absolute;
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
	      }
	      .mudEfficacyBox{
	      	width: 801px;
			height: 502px;
			position: absolute;
			top: 50%;
			left: 50%;
			color: #2f2f2f;
			transform:translate(-50%,-50%);
			.efficacyImage1 {
				display: inline-block;
				width: 400px;
				height: 167px;
				float: left;
				
				@include mudBackground;
				background-image: url("../image/whatismud2.jpg");
			}
			.efficacyDesc1 {
				display: inline-block;
				width: 379px;
				height: 146px;
				float: left;
				background-color: rgb(251, 246, 177);
				border-top: 1px solid rgb(92, 70, 43);
				border-right: 1px solid rgb(92, 70, 43);
				padding: 10px;
				line-height: 1.8;
				strong{
					font-size: 20px;
					color:rgb(27, 156, 252);
				}
			}
			.efficacyImage2 {
                                display: inline-block;
                                width: 400px;
                                height: 167px;
                                float: left;
		
                                @include mudBackground;
                                background-image: url("../image/whatismud3.jpg");
                        }
                        .efficacyDesc2 {
                                display: inline-block;
                                width: 379px;
                                height: 147px;
                                float: left;
                                border-left: 1px solid rgb(92, 70, 43);
                                padding: 10px;
                                line-height: 1.8;
								background-color: rgb(251, 246, 177);
				text-align: right;
                                strong{
                                        font-size: 20px;
                                        color:rgb(240, 147, 43);
                                }
                        }
			.efficacyImage3 {
                                display: inline-block;
                                width: 400px;
                                height: 167px;
				clear: both;
                                float: left;
				
                                @include mudBackground;
                                background-image: url("../image/whatismud4.png");
                        }
                        .efficacyDesc3 {
                                display: inline-block;
                                width: 379px;
                                height: 146px;
                                float: left;
                                border-right: 1px solid rgb(92, 70, 43);
								border-bottom: 1px solid rgb(92, 70, 43);
                                padding: 10px;
                                line-height: 1.8;
								background-color: rgb(251, 246, 177);
                                strong{
                                        font-size: 20px;
                                        color:rgb(224, 0 , 77);
                                }
                        }

	      }
        }

}
