.contentSection {
  width: 1200px;
  height: 1051px;
  display: inline-block;
  position: relative;
  background-color: #fbf6b1;
  background-image: url("../image/background_transparent.png");
  background-size: initial;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.contentSection .contentWrapBox {
  width: 1200px;
  height: 1051px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.6;
}

.contentSection .mudMeaningSection {
  position: relative;
  width: 1200px;
  height: 199px;
  border-bottom: 1px solid lightgray;
  z-index: 100;
}

.contentSection .mudMeaningSection .mudMeaningBox {
  width: 801px;
  height: 151px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contentSection .mudMeaningSection .mudMeaningBox .mudImageBox {
  display: inline-block;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 10px;
  background-image: url("../image/whatismud1.jpg");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.contentSection .mudMeaningSection .mudMeaningBox .mudMeaningDescBox {
  display: inline-block;
  width: 568px;
  color: #2f2f2f;
  height: 128px;
  border: 1px solid #f0932b;
  padding: 10px;
  float: left;
  line-height: 1.8;
}

.contentSection .mudMeaningSection .mudMeaningBox .mudMeaningDescBox strong {
  font-size: 20px;
  color: #e0004d;
}

.contentSection .mudEfficacySection {
  width: 1200px;
  height: 700px;
  position: relative;
}

.contentSection .mudEfficacySection .efficacyTitle {
  font-size: 40px;
  color: #2f2f2f;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contentSection .mudEfficacySection .mudEfficacyBox {
  width: 801px;
  height: 502px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #2f2f2f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyImage1 {
  display: inline-block;
  width: 400px;
  height: 167px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
  background-image: url("../image/whatismud2.jpg");
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc1 {
  display: inline-block;
  width: 379px;
  height: 146px;
  float: left;
  background-color: #fbf6b1;
  border-top: 1px solid #5c462b;
  border-right: 1px solid #5c462b;
  padding: 10px;
  line-height: 1.8;
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc1 strong {
  font-size: 20px;
  color: #1b9cfc;
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyImage2 {
  display: inline-block;
  width: 400px;
  height: 167px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
  background-image: url("../image/whatismud3.jpg");
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc2 {
  display: inline-block;
  width: 379px;
  height: 147px;
  float: left;
  border-left: 1px solid #5c462b;
  padding: 10px;
  line-height: 1.8;
  background-color: #fbf6b1;
  text-align: right;
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc2 strong {
  font-size: 20px;
  color: #f0932b;
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyImage3 {
  display: inline-block;
  width: 400px;
  height: 167px;
  clear: both;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
  background-image: url("../image/whatismud4.png");
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc3 {
  display: inline-block;
  width: 379px;
  height: 146px;
  float: left;
  border-right: 1px solid #5c462b;
  border-bottom: 1px solid #5c462b;
  padding: 10px;
  line-height: 1.8;
  background-color: #fbf6b1;
}

.contentSection .mudEfficacySection .mudEfficacyBox .efficacyDesc3 strong {
  font-size: 20px;
  color: #e0004d;
}
/*# sourceMappingURL=mudIntro.css.map */