// 공지사항.scss

* { margin: 0px; padding: 0px; }

.contentSection {
	height: auto;
	background: {
		color:#fbf6b1;
		size: 100% ; 
		position: 50% 100%;
		repeat: no-repeat; 
		image: url("../image/background_transparent.png");
	}
}
.opacityPaper {
	width: 100%; height: 766px;
	opacity: 0.6;
	background-color: white;
	position: absolute;
}
.noticeBox{
	margin-top: 200px;
	margin-bottom: 200px;
}
.noticeImg {
	width: 184px; height: 184px;
	position: absolute;
	left: 920px;
	margin-top: -92px;
	transform: rotate(20deg);
}
.notificationTable{
	width: 800px;
	position: relative;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
	margin: auto;
	background-color: silver;
	color: #333333;
	font-size: 17px;
	line-height: 17px;
}

.notificationTable table {
	width: 100%; height: 100%;
	border-collapse: collapse; 
}
.notificationTable table th {
	height: 30px;
	padding: 15px;
	background-color: #eaeaea;
	border-bottom: 1px solid black;
}
.notificationTable table td{
	height: 55px;
	padding: 10px;
	border-top: 1px solid black;
	text-align: center;
	background-color: #f3819f;
}
.notificationTable table .middleLiner{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.notificationTable table .trFirst {
	width: 50px;
}
.notificationTable table .trSecond { 
	width: 150px;
}
.notificationTable table .trThird { 
	width: auto;
}
.notificationTable table .trFourth { 
	width: 100px;
}
.notificationTable table .cellText { 
	text-align: left;
}

.notificationTable table .cellNumber {
	font-weight: bold;
}
.secondText{
	color:#222222;
}
table a {
	text-decoration: none;
	color: #333333;
	transition: color 0.5s;
}
table a:link { 
	color: #333333;
}
table a:visited { 
	color: #333333; 
}
table a:hover { 
	color:#036fb8;
	transition: color 1s;
}
table a:active {
	color:pink;
	transition: color 0.3s;
}