@charset "utf-8";

$back_co: #F8F8F7;
$main_1: #ce7d5d;
$main_2: #a3543d;
$main_3: #d49a89;
$main_4: #f7d1ba;
$main_5: #d6ddd8;
$main_6: #557571;
$main_logo: #1a222b;
$f_han: 'Nanum Gothic', sans-serif;
$f_header: 'Source Serif Pro', serif;

@mixin about_p{
    display: inline-block;
    float: left;
    width: 30%;
    height: 10%;
    line-height: 20px;
    margin-top: 5%;
    font-weight: 800;
    color: #b79996;
}
@mixin about_span{
    display: inline-block;
    float: left;
    display: inline-block;
    width: 70%;
    height: 10%;
    margin-top: 5%;
    line-height: 20px;
    font-weight: 400;
    color: #F8F8F7;
}
@mixin img_input{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
html, body{
    font-family: $f_han;
    background-color: $back_co;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    cursor: default;
    scroll-behavior: smooth;
}
.all_wrap_sec{
    position: relative;
    width: 100%;
    height: 600%;
    display: flex;
    flex-direction: column;
}
.first_sec{
    background:linear-gradient($back_co, rgb(254,254,254));
    position: relative;
    width: 100%;
    height: calc(100% / 6);
}
//메뉴부분
.header_sec{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 10%;
}
.anna_logo{
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-image: url("../image/main/anna.png");
    width: 140px;
    height: 70px;
    top: 2%;
    left: 2%;
}
.anna_logo:hover{
    cursor: pointer;
}
.header_sec ul{
    width: 50%;
    height: 10%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.header_sec li{
    position:relative;
    font-weight: 600;
    color: $main_logo;
    display:inline-block;
    float:left;
    width: calc(100% / 6);
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 1.3rem;
}
.dive_in, .about_experience{
    margin-left: -2%;
}
.header_sec li:hover{
    cursor: pointer;
}
.header_sec a{
    text-decoration: none;
    color: $main_logo;
}
.about_portfolio, .about_contact{
    margin-left: 1%;
}
.about_experience{
    margin-left: 2.5%;
}
.nav_sticker{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../image/main/nav.png");
    top: 20%;
    left: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}
//메인콘텐츠부분
.main_sec{
    margin-top: 10%;
    z-index: 100;
    position:relative;
    width: 100%;
    height: 80%;
    font-family: $f_header;
}
.main_first{
    position: relative;
    z-index: 200;
    color: $main_logo;
    display: inline-block;
    float:left;
    width: 90%;
    height: 20%;
    margin-top: 5%;
    padding-left: 10%;
    font-size: 8rem;
}
.main_second{
    color: $main_1;
    display: inline-block;
    float: left;
    width: 81%;
    height: 25%;
    padding-left: 19%;
    font-size: 13rem;
}
.main_third{
    position: relative;
    color: $main_logo;
    display: inline-block;
    float:left;
    width: 100%;
    height: 30%;
    font-size: 6rem;
    z-index: 800;
    margin-top: 2%;
}
.scroll_ev1, .scroll_ev2, .scroll_ev3, .scroll_ev4{
    display: inline-block;
    position: absolute;
    float: right;
    left: -40%;
}
.scroll_ev1{
    margin-top: -1%;
    font-size: 8rem;
    color: $main_1;
    animation: my_first 2s;
    -webkit-animation: my_first 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.scroll_ev2{
    animation: my_second 2s;
    -webkit-animation: my_second 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.scroll_ev3{
    animation: my_third 2s;
    -webkit-animation: my_third 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.scroll_ev4{
    animation: my_fourth 2s;
    -webkit-animation: my_fourth 2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes my_first{
    from{left: -40%;}
    to{left: 81%}
}
@keyframes my_second {
    from{left: -40%;}
    to{left: 57%}
}
@keyframes my_third {
    from{left: -40%;}
    to{left: 35%}
}
@keyframes my_fourth {
    from{left: -40%;}
    to{left: 14%}
}
.my_pic{
    animation: change_pic 9s infinite;
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url("../image/main/main1.jpg");
    background-size: cover;
    // opacity: 0.9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 50%;
    top: -10%;
    -webkit-animation: change_pic 10s infinite;
}
@keyframes change_pic{
    0%{ background-image : url("../image/main/main1.jpg")};
    30%{ background-image: url("../image/main/main2.jpg");}
    60%{ background-image: url("../image/main/main3.jpg");}
    90%{ background-image : url("../image/main/main1.jpg");}
}
.ball_one{
    z-index: 10;
    position:absolute;
    width: 80px;
    height: 80px;
    background-color: $main_1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 8%;
    top: 10%;
}
.ball_two{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #ded1c9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 40%;
    left: 75%;
    z-index: 200;
}
.ball_three{
    position: absolute;
    width: 320px;
    height: 320px;
    border: 5px solid #f7d1ba;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -10%;
    left: 70%;
}
.ball_four{
    z-index: 20;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: $main_4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 27%;
    left: 89%;
}
.introduce_me{
    word-spacing: 3px;
    letter-spacing: -2px;
    display: inline-block;
    line-height: 45px;
    position: absolute;
    top: 63%;
    left: 67%;
    text-align:right;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: $main_3;
    display: none;
}
.introduce_me p:nth-child(2){
    color: $main_logo;
    font-weight: 400;
}
.second_sec{
    z-index: 100;
    background-color: rgb(254, 254, 254);
    width: 100%;
    height: calc(100% / 6);
    position: relative;
}
.aboutme_page{
    display: inline-flex;
    float:left;
    width: 50%;
    height: 100%;
}
.a_circle{
    position:absolute;
    width: 400px;
    height: 400px;
    background-color: #fde6ed;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 25%;
    margin-left: 1%;
}
.about_pic{
    position:absolute;
    background-image: url("../image/main/mypicture.jpg");
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10%;
    margin-top: 7%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.ab_circle{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:#ffc884;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 45%;
    left: 38%;
}
.brief_desc{
    float:left;
    width: 50%;
    height: 100%;
    position: relative;
}
.b_one{
    display: inline-block;
    float:left;
    width: 100%;
    height: 20%;
}
.part_one{
    display:inline-block;
    float:left;
    margin-top: 16%;
    margin-left: -9%;
    width: 100px;
    height: 10px;
    background-color: $main_4;
    text-align: center;
    display: none;

}
.b_onep{
    display: inline-block;
    float:left;
    color: $main_2;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 12%;
    margin-left: 7%;
    display: none;
}
.b_two{
    position: relative;
    display: inline-block;
    float:left;
    width: 100%;
    height: 80%;

}
.profile_first{
    z-index: 300;
    position: absolute;
    margin-top: -1%;
    width: 300px;
    margin-left: 11%;
    height: 80%;
    background-color: #b79996;
    border-radius: 400px 500px;
    transform-origin: 50% 100%;
    transform: rotate(15deg);
    -webkit-border-radius: 400px 500px;
    -moz-border-radius: 400px 500px;
    -ms-border-radius: 400px 500px;
    -o-border-radius: 400px 500px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.profile_second{
    z-index: 500;
    position: absolute;
    margin-top: -3%;
    width: 300px;
    margin-left: 6%;
    height: 80%;
    background-color: #bb8b86;
    border-radius: 400px 500px;
    transform-origin: 50% 100%;
    transform: rotate(35deg);
    -webkit-border-radius: 400px 500px;
    -moz-border-radius: 400px 500px;
    -ms-border-radius: 400px 500px;
    -o-border-radius: 400px 500px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.profile_third{
    z-index: 700;
    position: absolute;
    margin-top: -6%;
    width: 300px;
    margin-left: 3%;
    height: 80%;
    background-color: #b6716a;
    border-radius: 400px 500px;
    transform-origin: 50% 100%;
    transform: rotate(55deg);
    -webkit-border-radius: 400px 500px;
    -moz-border-radius: 400px 500px;
    -ms-border-radius: 400px 500px;
    -o-border-radius: 400px 500px;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
}
.profile_first{
    h1{
        color: $back_co;
        font-weight: 700;
        font-size: 1.7rem;
        transform: rotate(-70deg);
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        margin-top: -4%;
        margin-left: -40%;
}
}
.profile_first_p{
    position: absolute;
    z-index: 400;
    font-size: 1rem;
    width: 300px;
    height: 100px;
    top: 32%;
    left: 21%;
    p{
        @include about_p;
        color: #867270;
        margin-top: 7%;

    }
    span{
        @include about_span;
        margin-top: 7%;
    }
    display:none;
}

.profile_second{
    h1{
        color: $back_co;
        font-weight: 700;
        font-size: 1.7rem;
        transform: rotate(-86deg)    ;
        -webkit-transform: rotate(-86deg)    ;
        -moz-transform: rotate(-86deg)    ;
        -ms-transform: rotate(-86deg)    ;
        -o-transform: rotate(-86deg)    ;
        margin-top: -18%;
        margin-left: -72%;
}
}
.profile_second_p{
    position: absolute;
    z-index: 600;
    font-size: 1rem;
    width: 250px;
    height: 200px;
    top: 33%;
    left: 28%;
    p{
        @include about_p;
        color: #867270;
        width: 35%;
    }
    span{
        @include about_span;
        width: 65%;
    }
    display: none;
}
.profile_third{
    h1{
        color: $back_co;
        font-weight: 700;
        font-size: 1.7rem;
        transform:rotate(-90deg);
        margin-top: -20%;
        margin-left: -80%;
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
    }
}
.profile_third_p{
    position: absolute;
    z-index: 800;
    font-size: 1rem;
    width: 300px;
    height: 200px;
    top: 36%;
    left: 36%;
    p{
        @include about_p;
    }
    span{
        @include about_span;
    }
}
.middle_circle{
    z-index: 5000;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 64%;
    left: 21%;
    border-radius: 50%;
    background-color: $back_co;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.abc_circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:#ded1c9 ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 48%;
    left: 83%;
}
.profile_first:hover, .profile_second:hover, .profile_third:hover{
    cursor: pointer;
}
.active_zindex{
    z-index: 1000;
}
.send_message:hover{
    cursor: pointer;
}
.scroll_down{
    animation: up_down 3s infinite;
    color: #ffffff;
    font-weight: 800;
    position: absolute;
    background-color: #b79996;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 90%;
    left: 50%;
    transform:translateX(-50%);
    -webkit-animation: up_down 3s infinite;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    div{
        text-align:center;
        margin-top: 20px;
    }
}
@keyframes up_down{
    0% {top: 87%;}
    50% {top: 90%;}
    100% {top: 87%;}
}
.scroll_down:hover{
    cursor: pointer;
}
.send_message{
    position:absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 5px solid #ffc884;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    top: 44%;
    left: 79%;
    color: $back_co;
    font-weight:600;
    z-index: 4000;
}
.message_layer{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 5000;
    top: 55%;
    left: 83%;
    position: absolute;
    width: 15vw;
    height: 40vh;
    border: 0.4vw solid #ded1c9;
    background-color: $back_co;
    display: none;
    border-radius: 1vw ;
    -webkit-border-radius: 1vw ;
    -moz-border-radius: 1vw ;
    -ms-border-radius: 1vw ;
    -o-border-radius: 1vw ;
    .captcha_area{
        position: absolute;
        display: flex;
        flex-direction: column;
        .cap_guide{
            font-size: 1.1vw;
            text-align:center;
            height: 15vh;
            line-height: 15vh;
        }
        .canvas_wrap{
            text-align: center;
            height: 25vh;
            .my_canvas{
                height: 15vh;
            }
            .value_capt{
                height: 3vh;
                border: none;
                border: 2px solid #BB8B86;
            }
            input:focus{outline:1px solid #BB8B86;}
            .check_capt{
                height: 3.6vh;
                border:none;
                color: $back_co;
                background-color: #a3543d;
            }
        }
    }
    .message_area{
        width: 15vw;
        height: 40vh;
        display: none;
        .put_text{
            text-align: center;
            line-height: 8vh;
            height: 8vh;
            font-size:1vw;
        }
        .total_wrap{
            width: 15vw;
            height: 28vh;
            display: flex;
            flex-direction: row;
            .text_wrap{
                margin-top: 1vh;
                width: 5vw;
                text-align: center;
            }
            .form_wrap{
                width: 10vw;
                .question_person, .question_number{
                    width: 9vw;
                    height: 3vh;
                    margin-bottom: 2vh;
                    font-size: 0.8vw;
                    line-height: 5vh;
                    border: none;
                    border: 2px solid #BB8B86;
                }
                .question_text{
                    font-size: 0.8vw;
                    height: 12vh;
                    width: 9vw;
                    margin-bottom: 2vh;
                    border: none;
                    border: 2px solid #BB8B86;
                    font-family: $f_han;
                }
                .send_btn{
                    font-size: 0.8vw;
                    height: 4vh;
                    width: 12vw;
                    margin-left: -7.5vh;
                    border: none;
                    color: $back_co;
                    background-color: #B6716A;
                }
                .send_btn:hover{
                    cursor: pointer;
                }
                input:focus{outline:1px solid #BB8B86;}
                textarea:focus{outline:1px solid #BB8B86;}
            }
        }
    }

}
.third_sec{
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: calc(100% / 6);
}
.third_sechalf{
    display: inline-block;
    float:left;
    width: 50%;
    height: 100%;
}
.third_question{
    position: absolute;
    background-image: url("../image/page2/possibility.png");
    width: 800px;
    height: 330px;
    z-index: 100;
    top: 7%;
    left: 33%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.third_tell{
    position: absolute;
    font-family: $f_header;
    color: $main_logo;
    font-size: 5rem;
    top: 19%;
    left: 53%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.third_vhalf{
    display: inline-block;
    float:left;
    width: 100%;
    height: 40%;
}
.third_vcontents{
    display: inline-block;
    float:left;
    width: 100%;
    height: 60%;
}
.third_vcontents h1{
    display: inline-block;
    float:left;
    text-align: right;
    width: 90%;
    height: 40px;
    font-size: 1.3rem;
    line-height: 38px;
    margin-top: 10px;
}
.possi_1, .possi_2, .possi_3, .possi_4, .possi_5{
    display: inline-block;
    float:left;
    width: 100%;
    height: calc(100% / 5);
}
.possc_1, .possc_2, .possc_3, .possc_4, .possc_5{
    font-size: 1.2rem;
    line-height: 89px;
    font-weight: 700;
    color:rgb(254, 254, 252);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.possc_1{
    background-color: #fdc986;
}
.possc_2{
    background-color: #f9ae5d;
}
.possc_3{
    background-color: #f89b46;
}
.possc_4{
    background-color: #f47e2d;
}
.possc_5{
    background-color: #f06d26;
}
.possw_1, .possw_2, .possw_3, .possw_4, .possw_5{
    display: inline-block;
    float:left;
    width: 60%;
    height: 20px;
    margin-left: 26%;
}
.possw_1{
    .possg_1{
        background-image: url("../image/stroke/93_stroke.png");
        width: 570px;
        height: 60px;
        margin-left: 10%;
        margin-top: -5%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.possw_2{
    .possg_2{
        background-image: url("../image/stroke/80_stroke.png");
        width: 530px;
        height: 60px;
        margin-left: 18%;
        margin-top: -5%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.possw_3{
    .possg_3{
        background-image: url("../image/stroke/95_stroke.png");
        width: 630px;
        height: 60px;
        margin-left: 4%;
        margin-top: -5%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.possw_4{
    .possg_4{
        background-image: url("../image/stroke/82_stroke.png");
        width: 550px;
        height: 60px;
        margin-left: 16%;
        margin-top: -6%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.possw_5{
    .possg_5{
        background-image: url("../image/stroke/91_stroke.png");
        width: 580px;
        height: 60px;
        margin-left: 11%;
        margin-top: -5%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.third_img{
    z-index: 80;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    background-image: url("../image/page2/page2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.fourth_sec{
    display: inline-flex;
    flex-direction: wrap;
    width: 100%;
    height: calc(100% / 6);
    // background-color: #cfcdc6;
    background:linear-gradient(#F8F8F7, #cfcdc6);
}
.graph_pic, .graph_wrap{
    position: relative;
    display: inline-block;
    float:left;
    width: 50%;
    height: 100%;
}
.graph_pics{
    position: relative;
    display: inline-block;
    float:left;
    background-image: url("../image/skills/code1.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.skill_pic{
    position: relative;
    z-index: 400;
    width: 700px;
    height: 700px;
    background-image: url("../image/skills/skills.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    top: 200px;
    left: 130px;
    div:first-child{
        display: inline-block;
        float:left;
        width: 370px;
        height: 380px;
    }
    div:nth-child(2){
        display: inline-block;
        float:left;
        width: 330px;
        height: 380px;
    }
    div:nth-child(3){
        display: inline-block;
        float:left;
        width: 280px;
        height: 320px;
    }
    div:nth-child(4){
        display: inline-block;
        float:left;
        width: 420px;
        height: 320px;
    }
    div:hover{
        cursor: pointer;
    }

}
.view_skills{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: italic;
    z-index: 30;
    position: absolute;
    width: 450px;
    height:  450px;
    border-radius: 50%;
    top: 325px;
    left: 265px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    div{
        color: #1a222b;
        line-height: 450px;
        font-size: 3.8rem;
        text-align: center;
    }
    .v_wrap{
            position: absolute;
            width: 420px;
            height: 420px;
            display: none;
            top: 55px;
            left: 15px;
        }
}
.v_html, .v_css, .v_sass, .v_js, .v_jquery, .v_react{
    img{
        display: inline-block;
        float:left;
        width: 70px;
        height: 70px;
        margin: 0 20px 0 120px;
    }
    figcaption{
        display: inline-block;
        float:left;
        font-size: 2rem;
        width: 210px;
        height: 70px;
        line-height: 68px;
        color: $main_logo;
    }
}
.fifth_sec{
    position: relative;
    width: 100%;
    height: calc(100% / 6);
    background-color: rgb(255,236,206);
}

.portfolio_area{
    width: 100%;
    height: 100%;
}
.portfolio_each{
    position: relative;
    width: 20%;
    height: 40%;
    display: inline-block;
    float:left;
    // border: 2px solid $main_logo;
    font-family: $f_header;
    border-radius: 40px;
    margin: 1% 1%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.portfolio_each:hover{
    cursor: pointer;
}
.portfolio_each:first-child, .portfolio_each:nth-child(5){
    margin-left: 7%;
}
.portfolio_each:first-child, .portfolio_each:nth-child(2), .portfolio_each:nth-child(3), .portfolio_each:nth-child(4){
    margin-top: 6%;
}
.portfolio_each p{
    display:inline-block;
    float:left;
    padding-left: 30px;
    margin-top: 10%;
    font-size: 1.2rem;
}
.portfolio_each .p_contents{
    position: relative;
    z-index: 100;
    display:inline-block;
    float:left;
    padding-left: 30px;
    padding-top: 50px;
    font-size: 3.6rem;
    color: #212a35;
}
.p_contents:hover{
    color: #43474d;
}
.portfolio_each h1{
    color: #2a333f;
    position: absolute;
    top: 63%;
    float:left;
    z-index: 100;
    padding-left: 30px;
    font-size: 1rem;
}
.one_line{
    margin-top: 30px;
}
.p_img{
    position: absolute;
    width: 24px;
    height: 40px;
    top: 70%;
    left: 10%;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../image/portfolio_circle/arrow.png");
}
.p_circle1, .p_circle7{
    position: absolute;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 55%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
    background-image: url("../image/portfolio_circle/first.png");
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.p_circle2, .p_circle5 {
    position: absolute;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 47%;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -50%);
    background-image: url("../image/portfolio_circle/second.png");
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.p_circle3, .p_circle8{
    position: absolute;
    width: 500px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 52%;
    left: 50%;
    z-index: 30;
    transform: translate(-55%, -50%);
    background-image: url("../image/portfolio_circle/third.png");
    -webkit-transform: translate(-55%, -50%);
    -moz-transform: translate(-55%, -50%);
    -ms-transform: translate(-55%, -50%);
    -o-transform: translate(-55%, -50%);
}
.p_circle4, .p_circle6 {
    position: absolute;
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translate(-45%, -50%);
    background-image: url("../image/portfolio_circle/fourth.png");
    -webkit-transform: translate(-45%, -50%);
    -moz-transform: translate(-45%, -50%);
    -ms-transform: translate(-45%, -50%);
    -o-transform: translate(-45%, -50%);
}
.view_preview{
    display: none;
    font-family: $f_header;
    z-index: 5000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1920px * 0.6;
    height: 82%;
    background-color: #232e3b;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.xi-close{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    color:rgb(254, 254, 252);
    left: 95%;
    top: 5%;
}
.xi-close:hover{
    cursor:pointer;
}
.view_img_sec, .view_portfolio_page{
    color:#F8F8F7;
    display: inline-block;
    float: left;
    width: 100%;
}
.view_img_sec{
    height: 40%;
}
.view_portfolio_page{
    height: 56%;
}
.preview_img{
    display: inline-block;
    float: left;
    width: 1920px * 0.6 * 0.4;
    height: 28%;
    margin: 5% 0% 0% 7%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.view_img_sec figcaption{
    display: inline-block;
    float:left;
    width: 1920px * 0.6 * 0.4;
    height: 28%;
    margin-top: 6%;
    margin-left: 7%;
    color:rgb(254, 254, 252);

    h1{
        font-weight: 700;
        margin-top: 40px;
        font-size: 2.7rem;
    }
    p{
        margin-top: 40px;
        font-size: 1rem;
    }
    .page_btn, .document_btn{
        display: inline-block;
        float:left;
        width: 1920px * 0.6 * 0.4 * 0.5;
        height: 22%;
        font-size: 1.8rem;
        margin-top: 10%;
    }
    .page_btn:hover, .document_btn:hover{
        cursor: pointer;
    }
}

.view_portfolio_page{
    padding: 8px;
    h1{
        padding: 5px;
        font-size: 2rem;
        color:#F8F8F7;
        line-height: 32px;
        margin: 3% auto 1.5% 7%;
    }
    p{
        font-family: $f_han;
        background-color: #f8e8de;
        border-radius: 10px;
        color:$main_logo;
        font-weight: 700;
        display: inline-block;
        float:left;
        width: 38%;
        height: 68%;
        line-height: 30px;
        font-size: 1.1rem;
        margin-left: 6%;
        padding: 5px 20px 5px 20px;
        text-align: left;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    div{
        display: inline-block;
        float: left;
        width: 12%;
        padding: 5px;
        margin: 1% 6%;
        font-size: 1.3rem;
        padding-top: 10px;
    }
    .preview_chead, .preview_concept{
        margin-top: 0%;
        padding-top: 0px;
    }
    .preview_concept, .preview_date{
        margin-left: 2%;
        width: 18%;
    }
    .preview_work{
        width: 20%;
    }

}
.p_name{
    color: #fec540;
}
.page_btn{
    color: #f47e2d;
}
.document_btn{
    color: #f06d26;
}
.sixth_sec{
    position: relative;
    font-family: $f_han;
    width: 100%;
    height: calc(100%/ 6);
    background:linear-gradient(rgb(255,236,206),#F8F8F7);
    // background-color: #F8F8F7;
    overflow: hidden;
}
.sixth_wrap {
    width : 100%;
    height : 100%;
}
.left_btn, .right_btn{
    z-index: 500;
    position: absolute;
    top: 83%;
    margin-left: 6%;
    text-align: center;
    background-color: #f06d26;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-family: $f_header;
    font-weight: 700;
    font-size: 2rem;
    color: #fffffe;
    border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
}
.right_btn{
    left: 10%;
}
.left_btn:hover, .right_btn:hover{
    cursor: pointer;
    background-color: #fec540;
}

.experience_page1{
    width: 100%;
    height: 100%;
    position: relative;

    .page1_abroad{
        font-family: $f_header;
        font-weight: 800;
        position: absolute;
        top: 35%;
        left: 29.3%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 30px;
        font-size: 3rem;
        color: $main_logo;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .page1_desc{
        position: absolute;
        top: 40%;
        left: 2.7%;
        text-align: center;
        line-height: 37px;
        width: 440px;
        height: 37px;
        font-size: 1.5rem;
        background-color: $main_2;
        border-radius: 20px;
        color:rgb(254, 254, 252);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .page1_img_desc{
        position: absolute;
        width: 460px;
        line-height: 35px;
        height: 100px;
        top: 47%;
        left: 3%;
        font-size: 1.3rem;
        display: inline-block;
        float:left;
    }
    .page1_pic1{
        @include img_input;
        background-image: url("../image/MYBOX/abroad/Hongkong.JPG");
        top: 20%;
        left: 75%;
        width: 450px;
        height: 650px;
    }
    .page1_pic2{
        @include img_input;
        background-image: url("../image/MYBOX/abroad/China.jpg");
        width: 400px;
        height: 650px;
        background-size: initial;
        background-position: 40% 80%;
        top: 20%;
        left: 52.8%;
    }
    .page1_pic3{
        @include img_input;
        background-image: url("../image/MYBOX/abroad/Taiwan.JPG");
        width: 430px;
        height: 650px;
        top: 20%;
        left: 29%;
    }
}
.experience_page2{
    width: 100%;
    height: 100%;
    position: relative;

    .page2_abroad{
        font-family: $f_header;
        font-weight: 800;
        position: absolute;
        top: 35%;
        left: 29.3%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 30px;
        font-size: 3rem;
        color: $main_logo;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .page2_desc{
        position: absolute;
        top: 40%;
        left: 3%;
        text-align: center;
        line-height: 37px;
        width: 440px;
        height: 37px;
        font-size: 1.5rem;
        background-color: #a3543d;
        color:rgb(254, 254, 252);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .page2_img_desc{
        position: absolute;
        width: 470px;
        line-height: 35px;
        height: 100px;
        top: 47%;
        left: 3%;
        font-size: 1.3rem;
        display: inline-block;
        float:left;
    }
    .page2_pic1{
        @include img_input;
        background-image: url("../image/MYBOX/USA/universal.jpg");
        width: 500px;
        height: 500px;
        top: 41%;
        left: 65%;
        background-size: initial;
        background-position: 70% 95%;
    }
    .page2_pic2{
        @include img_input;
        background-image: url("../image/MYBOX/USA/newyork.jpg");
        width: 500px;
        height: 400px;
        top: 13%;
        left: 57%;
        background-position: 50% 100%;
    }
    .page2_pic3{
        @include img_input;
        background-image: url("../image/MYBOX/USA/disney.jpg");
        width: 500px;
        height: 500px;
        top: 35%;
        left: 37%;
    }
}
.experience_page3{
    width: 100%;
    height: 100%;
    position: relative;

    .page3_festival{
        font-family: $f_header;
        font-weight: 800;
        position: absolute;
        top: 35%;
        left: 29.3%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 30px;
        font-size: 3rem;
        color: $main_logo;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .page3_desc{
        position: absolute;
        top: 40%;
        left: 3%;
        text-align: center;
        line-height: 37px;
        width: 490px;
        height: 37px;
        font-size: 1.5rem;
        background-color: #a3543d;
        color:rgb(254, 254, 252);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .page3_img_desc{
        position: absolute;
        width: 495px;
        line-height: 35px;
        height: 100px;
        top: 47%;
        left: 3%;
        font-size: 1.3rem;
        display: inline-block;
        float:left;
    }
    .page3_pic1{
        @include img_input;
        background-image: url("../image/MYBOX/festival/Apartment.jpg");
        width: 800px;
        height: 600px;
        top: 35%;
        left: 35%;
    }
    .page3_pic2{
        @include img_input;
        background-image: url("../image/MYBOX/festival/select_road.jpg");
        width: 600px;
        height: 450px;
        top: 15%;
        left: 65%;
    }
    .page3_pic3{
        @include img_input;
        background-image: url("../image/MYBOX/festival/select_road2.jpg");
        width:  473px;
        height: 332px;
        top: 50%;
        left: 74%;
    }
}
.experience_page4{
    width: 100%;
    height: 100%;
    position: relative;

    .page4_time{
        font-family: $f_header;
        font-weight: 800;
        position: absolute;
        top: 35%;
        left: 29.3%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 30px;
        font-size: 3rem;
        color: $main_logo;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .page4_desc{
        position: absolute;
        top: 40%;
        left: 3%;
        text-align: center;
        line-height: 37px;
        width: 480px;
        height: 37px;
        font-size: 1.5rem;
        background-color: #a3543d;
        color:rgb(254, 254, 252);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .page4_img_desc{
        position: absolute;
        width: 480px;
        line-height: 35px;
        height: 100px;
        top: 47%;
        left: 3%;
        font-size: 1.3rem;
        display: inline-block;
        float:left;
    }
    .page4_pic1{
        @include img_input;
        background-image: url("../image/MYBOX/cinema/LOTTE1.jpg");
        background-size: cover;
        background-position: 50% 60%;
        width: 400px;
        height: 700px;
        top: 24%;
        left: 40%;
    }
    .page4_pic2{
        @include img_input;
        background-image: url("../image/MYBOX/cinema/LOTTE2.jpg");
        width: 600px;
        height: 700px;
        top: 24%;
        left: 65%;
    }
}
.experience_page2, .experience_page3, .experience_page4{
    display: none;
}
#first_sec, #second_sec, #third_sec, #fourth_sec, #fifth_sec, #sixth_sec{
    transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all 4s;
}